{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% comment %}{% load jformat %}{% endcomment %}
{% block css %}{% endblock %}
{% block js %}
    <!-- JQUERY FORM VALIDATOR -->
    <script src="{% static 'assets/plugins/jquery-form-validator/jquery.validate.js' %}"></script>
    <script>
        $(document).ready(function () {
            // add a validate method

            $('form').validate({
                rules: {
                    memory: {
                        required: true,
                    },
                    page_size: {
                        required: true,
                    }
                },
                messages: {}
            });
        });
    </script>
{% endblock %}
{% block body %}

    <!-- GLOBAL-LOADER -->
    {% comment %}{% include 'loader.html' %}{% endcomment %}
    <!-- /GLOBAL-LOADER -->

    <!-- app-Header -->
    {% include 'header.html' %}
    <!-- /app-Header -->

    <!--APP-SIDEBAR-->
    {% include 'menu.html' %}

    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
                <!-- PAGE-HEADER OPTIONAL TO WRITE SOME DATA ABOUT request.user -->
                <div class="page-header">
                    <div class="d-flex">
                        {% comment %} <h1 class="page-title px-2">
                            {% if request.META.HTTP_REFERER %}
                                <a href="{{ request.META.HTTP_REFERER }}">
                                    <i class="fa fa-arrow-right"></i>
                                    برگشت
                                </a>
                            {% endif %}
                        </h1> {% endcomment %}
                        <h1 class="page-title px-2">Home</h1>
                    </div>
                    <div>
                        <ol class="breadcrumb mx-2">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </div>
                </div>
                <!-- PAGE-HEADER END -->

                <!-- write your code here -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header"><h3 class="card-title">OS primary specifiers</h3></div>
                            <div class="card-body">
                                <form action="" method="post" autocomplete="on">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="memory">
                                                    Total memory size
                                                    <span class="text-red">*</span>
                                                </label>
                                                <input type="number"
                                                       dir="ltr"
                                                       name="memory"
                                                       id="memory"
                                                       class="form-control"
                                                       placeholder="number in KB">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="form-label" for="page_size">
                                                    Each page size
                                                    <span class="text-red">*</span>
                                                </label>
                                                <input type="number"
                                                       dir="ltr"
                                                       name="page_size"
                                                       id="page_size"
                                                       class="form-control"
                                                       placeholder="number in KB">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="submit"
                                                    class="btn btn-primary">
                                                submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /write your code here -->

            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->


    <!-- Sidebar-right -->
    {% comment %}
    {% include 'side_bar.html' %}
    {% endcomment %}
    <!--/Sidebar-right-->

    <!-- Country-selector modal-->
    {% comment %}
    {% include 'country_selector.html' %}
    {% endcomment %}
    <!-- Country-selector modal-->

    <!-- FOOTER -->
    {% include 'footer.html' %}
    <!-- FOOTER END -->

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}
